<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="basic0transfer" messageEncoding="Mtom" />
              </basicHttpBinding>
              <wsHttpBinding>
                    <binding name="ws0transfer" messageEncoding="Mtom" />
              </wsHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://localhost:53408/FileTransferService.svc/ws0"
                    binding="wsHttpBinding" bindingConfiguration="ws0transfer"
                    contract="TransferServiceClientReference.IFileTransferService"
                    name="ws0transfer">
                    <identity>
                          <dns value="localhost" />
                    </identity>
              </endpoint>
              <endpoint address="http://localhost:53408/FileTransferService.svc/basic0"
                    binding="basicHttpBinding" bindingConfiguration="basic0transfer"
                    contract="TransferServiceClientReference.IFileTransferService"
                    name="basic0transfer" />
        </client>
    </system.serviceModel>
</configuration>
