<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basic1manifest" messageEncoding="Mtom" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="ws1manifest" messageEncoding="Mtom" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/PackageManifestService.svc/ws1"
                binding="wsHttpBinding" bindingConfiguration="ws1manifest"
                contract="ManifestServiceClientReference.IPackageManifestService"
                name="ws1manifest">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/PackageManifestService.svc/basic1"
                binding="basicHttpBinding" bindingConfiguration="basic1manifest"
                contract="ManifestServiceClientReference.IPackageManifestService"
                name="basic1manifest" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
