<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WsHtpMtomBinding" messageEncoding="Mtom" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760">
          <readerQuotas maxArrayLength="10485760"/>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHtpMtomBinding" messageEncoding="Mtom" maxBufferPoolSize="10485760" maxBufferSize="10485760" maxReceivedMessageSize="10485760">
          <readerQuotas maxArrayLength="10485760"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="TransferServiceServer.FileTransferService" behaviorConfiguration="TransferServiceServer.FileTransferServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/TransferServiceServer/FileTransferService/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint name="ws0transfer" address="ws0" binding="wsHttpBinding" bindingConfiguration="WsHtpMtomBinding" contract="DocumentScannerServiceCommon.IFileTransferService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint name="basic0transfer" address="basic0" binding="basicHttpBinding" bindingConfiguration="BasicHtpMtomBinding" contract="DocumentScannerServiceCommon.IFileTransferService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint name="mex0transfer" address="mex0" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TransferServiceServer.FileTransferServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
