<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DocumentScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="FileTransferServiceEndpointConfigurationName" value="BasicHttpBinding_IFileTransferService"/>
    <!--BasicHttpBinding_IFileTransferService-->
    <!--WSHttpBinding_IFileTransferService-->
    <add key="PackageManifestServiceEndpointConfigurationName" value="BasicHttpBinding_IPackageManifestService"/>
    <!--BasicHttpBinding_IPackageManifestService-->
    <!--WSHttpBinding_IPackageManifestService-->
    <!--<add key="ImageQualityPercent" value="75"/>-->
    <add key="AutoNavigateTabs" value="true"/>
    <add key="ReNewWaitMilliseconds" value="1000"/>
    <add key="PullReceivePath" value="c:\temp\client\receive"/>
    <add key="PushSendPath" value="c:\temp\client\send"/>
    <add key="CompletedTransactionRetentionDays" value="3"/>
    <add key="ErrorTransactionRetentionDays" value="3"/>
    <add key="DataPath" value="c:\temp\client\Data"/>
    <add key="LogFilename" value="Application.Log"/>
    <add key="UseLogFile" value="false"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileTransferService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="10485760" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="10485760" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPackageManifestService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
          <binding name="WSHttpBinding_IFileTransferService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="10485760" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IPackageManifestService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53408/FileTransferService.svc/ws0" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileTransferService" contract="TransferServiceClientReference.IFileTransferService" name="WSHttpBinding_IFileTransferService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:53408/FileTransferService.svc/basic0" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="TransferServiceClientReference.IFileTransferService" name="BasicHttpBinding_IFileTransferService"/>
      <endpoint address="http://localhost:53408/PackageManifestService.svc/ws1" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPackageManifestService" contract="ManifestServiceClientReference.IPackageManifestService" name="WSHttpBinding_IPackageManifestService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:53408/PackageManifestService.svc/basic1" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackageManifestService" contract="ManifestServiceClientReference.IPackageManifestService" name="BasicHttpBinding_IPackageManifestService"/>
    </client>
  </system.serviceModel>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <DocumentScanner.Properties.Settings>
      <setting name="Size" serializeAs="String">
        <value>980, 660</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </DocumentScanner.Properties.Settings>
  </userSettings>
</configuration>
