<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileTransferServiceEndpointConfigurationName" value="BasicHttpBinding_IFileTransferService"/>
    <!--BasicHttpBinding_IFileTransferService-->
    <!--WSHttpBinding_IFileTransferService-->
    <add key="DataPath" value="c:\temp\client\Data"/>
    <add key="PullReceivePath" value="c:\temp\client\receive" />
    <add key="PushSendPath" value="c:\temp\client\send" />
    <add key="LogFilename" value="C:\Users\ssepan\Documents\Visual Studio 2010\Projects\DocumentScanner\ServiceClientTestConsole\bin\Debug\Application.Log" />
    <add key="UseLogFile" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileTransferService" messageEncoding="Mtom" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IFileTransferService" messageEncoding="Mtom" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53408/FileTransferService.svc/ws0"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileTransferService"
          contract="TransferServiceClientReference.IFileTransferService"
          name="WSHttpBinding_IFileTransferService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:53408/FileTransferService.svc/basic0"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService"
          contract="TransferServiceClientReference.IFileTransferService"
          name="BasicHttpBinding_IFileTransferService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>