<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--common-->
    <add key="LogFilename" value="Application.Log"/>
    <add key="UseLogFile" value="false"/>
    <!--service-->
    <add key="PullSendPath" value="c:\temp\server\send"/>
    <add key="PushReceivePath" value="c:\temp\server\receive"/>
    <!--server-->
    <add key="ReCreateWaitMilliseconds" value="1000"/>
    <add key="CompletedTransactionRetentionDays" value="3"/>
    <add key="ErrorTransactionRetentionDays" value="3"/>
    <add key="DataPath" value="c:\temp\server\Data"/>
    <add key="PushReceivePath" value="c:\temp\server\receive"/>
    <add key="SettingsFilename" value="Server.DocumentScannerServer"/>
    <add key="UserSendFolder" value="send"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <!--<authentication mode="Windows"/>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WsHtpMtomBinding" messageEncoding="Mtom" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760">
          <readerQuotas maxArrayLength="10485760"/>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHtpMtomBinding" messageEncoding="Mtom" maxBufferPoolSize="10485760" maxBufferSize="10485760" maxReceivedMessageSize="10485760">
          <readerQuotas maxArrayLength="10485760"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="ManifestServiceServer.PackageManifestService">
        <endpoint address="ws1" binding="wsHttpBinding" bindingConfiguration="WsHtpMtomBinding" name="ws1manifest" contract="DocumentScannerServiceCommon.IPackageManifestService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic1" binding="basicHttpBinding" bindingConfiguration="BasicHtpMtomBinding" name="basic1manifest" contract="DocumentScannerServiceCommon.IPackageManifestService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex1" binding="mexHttpBinding" name="mex1manifest" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/ManifestServiceServer/PackageManifestService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="TransferServiceServer.FileTransferService">
        <endpoint address="ws0" binding="wsHttpBinding" bindingConfiguration="WsHtpMtomBinding" name="ws0transfer" contract="DocumentScannerServiceCommon.IFileTransferService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic0" binding="basicHttpBinding" bindingConfiguration="BasicHtpMtomBinding" name="basic0transfer" contract="DocumentScannerServiceCommon.IFileTransferService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex0" binding="mexHttpBinding" name="mex0transfer" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/TransferServiceServer/FileTransferService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>